.fortune-sheet-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.fortune-col-body {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.fortune-sheet-area {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.fortune-sheet-canvas-placeholder,
.fortune-sheet-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.fortune-sheet-canvas {
  position: absolute;
}
